[flake8]
max-line-length = 120
max-doc-length = 120
extend-ignore =
    # whitespace before ':'
    E203,
    # line break before binary operator (conflicts with black)
    W503
exclude =
    .git,
    __pycache__,
    .venv,
    build,
    dist
